{% extends 'base.html' %}

{% block content %}
<form method="post" class="row g-3">
    {% csrf_token %}

    <div class="col-md-6">
        <label>Risk Category</label>
        <select name="risk_category" class="form-select" onchange="this.form.submit()">
            {% for value,label in form.fields.risk_category.choices %}
                <option value="{{ value }}" {% if value == form.data.risk_category|default:form.instance.risk_category %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-6">
        <label>Risk Name</label>
        <select name="risk_name" class="form-select" onchange="this.form.submit()">
            {% for value,label in form.fields.risk_name.choices %}
                <option value="{{ value }}" {% if value == form.data.risk_name|default:form.instance.risk_name %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12 mt-3">
        <label>Mitigation Action</label>
        <textarea name="mitigation_action" class="form-control" rows="3" readonly>{{ form.fields.mitigation_action.initial }}</textarea>
    </div>

    <!-- Likelihood -->
        <div class="col-md-4">
            <label class="form-label">Likelihood</label>
            {{ form.likelihood }}
        </div>

        <!-- Impact -->
        <div class="col-md-4">
            <label class="form-label">Impact</label>
            {{ form.impact }}
        </div>

        <!-- Status -->
        <div class="col-md-4">
            <label class="form-label">Status</label>
            {{ form.status }}
        </div>


    <div class="col-12 mt-3">
        <button type="submit" name="save" class="btn btn-success">Save</button>
        <a href="{% url 'risk_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>

{% endblock %}