{% extends "base.html" %}
{% load static %}
{% block title %}Activate Email{% endblock %}

{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-60 py-5">
    <!-- Social Login - Centered -->
    <div class="social-login text-center mb-4 w-100" style="max-width: 400px;">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-primary d-flex align-items-center justify-content-center p-2 w-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Google.png" alt="Google Logo" class="me-3" style="width: 60px; height: 50px;">
            <span class="fw-medium">Login with Google</span>
        </a>
    </div>

    <!-- Login Form - Centered -->
    <div class="w-100" style="max-width: 400px;">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Login</h2>

            <!-- Display Messages -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} my-3 p-3">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
            {% endif %}


            <form method="post" class="form-container">
                {% csrf_token %}
                <!-- Form Fields -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100 mt-3 py-2">Login</button>
            </form>

            <!-- Register Link -->
            <p class="mt-3 text-center mb-0">
                Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none text-primary">Register</a>
            </p>
            <!-- Forgot Password Link -->
            <p class="mt-2 text-center">
                <a href="{% url 'password_reset' %}" class="text-decoration-none text-primary">Forgot Password?</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
