{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-60 py-5">
    <div class="w-100" style="max-width: 400px;">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Reset Password</h2>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} my-3 p-3">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" class="form-container">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3 py-2">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
